@model Lab27George.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post">
    <div asp-validation-summary="All"></div>
    <h3>Login Here</h3>
    
    <label asp-for="Email"></label><input asp-for="Email" /><br />

    <label asp-for="Password"></label><input asp-for="Password" /><br />

    <label asp-for="RememberMe">
        <input type="checkbox" asp-for="RememberMe" />
        @Html.DisplayNameFor(m => m.RememberMe)
    </label>
    <button type="submit">Login</button>
</form>