@model Lab27George.Models.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
    <div asp-validation-summary="All"></div>
    <h3>Register Here</h3>

    <label asp-for="Email"></label><input asp-for="Email" />
    <span asp-validation-for="Email"></span><br />

    <label asp-for="FirstName"></label><input asp-for="FirstName" />
    <span asp-validation-for="FirstName"></span><br />

    <label asp-for="LastName"></label><input asp-for="LastName" />
    <span asp-validation-for="LastName"></span><br />

    <label asp-for="Password"></label><input asp-for="Password" />
    <span asp-validation-for="Password"></span><br />

    <label asp-for="ConfirmPassword"></label><input asp-for="ConfirmPassword" />
    <span asp-validation-for="ConfirmPassword"></span><br />
     
    <button type="submit">Register</button>
</form>